# 1. IDENTIFIQUE SOLO UN DATASET

#### (Contiene mas de 2000 filas y tiene 13 columnas) Esta compuesto por datos reales, de clientes de Pollitas de un dia de edad, para producción de huevo en el suroccidente de colombia)

## 2. VARIABLES

#### 2.1. Cantidad pollitas vendidas por los clientes desde el 2000 al año 2023
####  para hacer una proyección a un año 2004, con los datos del 2022 y 2023 y
####  para un proyeccion a 10 y 20 años con los datos de los años del 2000 al 2010, 
####   y del 2010 al 2020.

#### 2.2. Conocer el crecimiento demográfico de pollitos en Colombia durante los ultimos 20 años, 
####  llamado Encasetamiento, técnicamente (número de pollitas de un día que entran a ser parte de la población 
####  de aves destinadas a la producción de huevo o para engorde), y analizar en que años hubo alto encasetamiento
####  y en cuales bajo. Y asi encontrar datos que generen la información pertinente para el trabajo de poyección a 1,10 y 20 años.
####  ya que esta variable (encasetamiento) es la mas importante y la que mas información dicta.

#### 2.3 Encontrar y analisar los clientes que han hecho mayores compras de pollitas durante los ultimos 6 años ,teniendo inicio
####  del año 2017 y como año final 2023, para poder medir, alizar como pudo afectar o beneficiar, el año de pandemia y el para 
####   nacional en la demanda de pollitas por ende la producción de huevo en Colombia con esos dos acontecimientos.( el gremio ####   avicola no sufrio grandes perdidas, crecio más de lo esperado en esos años) por esto último pienso que es importante conocer  ####   las estádisticas de ventas y producción, durante este rango de 6 años.

#### 2.4 Encontrar factores externos que hayan podido afectar, beneficiar el crecimiento o decrecimiento de ventas de
#### de los clientes (Grandes, medianos y pequeños) y poder indentificar exactamente cuales son los clientes anteriormente
#### nombrados ya que voluntariamente, cree datos aleatorios, para la columna 'TAMAÑO EMPRESA' para asi tambien automatizar
#### con los datos ya regristrados en el dataframe, esa columna, ya que en la base de datos hay clientes desde el 
#### 2000 y el 2023 , que pueden haber sido pequeños y ahora son medianos o grandes, o viceversa. Y poder definir cuales,
#### son actualmente.

In [ ]:
#Aqui esta todo lo solicitado en la ACTIVIDAD #1

In [2]:
#importo libreria pandas.
import pandas as pd

In [3]:
#importo método random.
import random

In [4]:
#importo libreria numpy.
import numpy as np

In [5]:
#leo archivo csv.
df=pd.read_csv('TABLA CLIENTES 1.csv')

In [6]:
df

,FECHA,AÑO FISCAL,ZONA,CLIENTE,UNIDADES,PRECIO DE VENTA,LINEA,CIUDAD,DEPARTAMENTO,TOTAL AÑO (2000-2023),Unnamed: 10
0,2-jun-23,2022 2023,4,AGRODESARROLLO AMBIENTAL DEL PACIFICO SAS,2.6,3.50,HY LINE BROWN TIR,GUAPI,CAUCA,$9.100.000,NaN
1,2-jun-23,2022 2023,4,JOJOA BARRIOS IVAN DARIO,12.0,3.50,HY LINE BROWN,LA UNION,NARIÑO,$42.000.000,NaN
2,2-jun-23,2022 2023,4,ARBOLEDA SANCHEZ SANDRA ISABEL,10.0,3.50,HY LINE BROWN,TULUA,VALLE DEL CAUCA,$35.000.000,NaN
3,2-jun-23,2022 2023,4,GRANJA AVICOLA BUENA VIDA SAS,6.0,3.50,HY LINE BROWN TIR,PASTO,NARIÑO,$21.000.000,NaN
4,2-jun-23,2022 2023,4,ERAZO CIFUENTES CARLOS JAVIER,4.2,3.50,HY LINE BROWN,EL TAMBO,CAUCA,$14.700.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2433,1-ene-00,2000,4,MIGUEL MARTIN Y CIA S EN C.S,6.0,1.70,HY LINE BROWN,CALI,VALLE DEL CAUCA,$10.200.000,NaN
2434,1-ene-00,2000,4,AGUILERA JARAMILLO HERNEY,15.5,1.75,HY LINE BROWN,TULUA,VALLE DEL CAUCA,$27.125.000,NaN
2435,1-ene-00,2000,4,"AGROINDUSTRIA SAN JOSE S.A. ""AGRINSA""",26.3,1.70,HY LINE W-36,MANIZALEZ,CALDAS,$44.710.000,NaN
2436,1-ene-00,2000,4,CASTAÑO GIRALDO HERMAN,9.3,1.75,HY LINE W-36,ARMENIA,QUINDIO,$16.275.000,NaN
2437,1-ene-00,2000,4,ANAYA PALACIO GLORIA AMPARO,9.3,1.78,HY LINE W-36,ARMENIA,QUINDIO,$16.554.000,NaN

In [7]:
#Agrego columna con valores constantes.
df['TAMAÑO EMPRESA']=70

In [8]:
# Defino una función que generará valores aleatorios para la columna 'tamaño empresa'. 
def generar_texto_aleatorio():
    textos_aleatorios = ['Pequeña', 'Mediana', 'Grande']
    return random.choice(textos_aleatorios)

In [10]:
#aplico la función a cada fila de la columna deseada, con el método apply.Y asi generar los valores aleatorios
df['TAMAÑO EMPRESA'] = df['TAMAÑO EMPRESA'].apply(lambda x: generar_texto_aleatorio())

#ya habia redefindo la variable, solo que borre la línea de código-

In [11]:
#visulizo la variable.
df

,FECHA,AÑO FISCAL,ZONA,CLIENTE,UNIDADES,PRECIO DE VENTA,LINEA,CIUDAD,DEPARTAMENTO,TOTAL AÑO (2000-2023),Unnamed: 10,TAMAÑO EMPRESA
0,2-jun-23,2022 2023,4,AGRODESARROLLO AMBIENTAL DEL PACIFICO SAS,2.6,3.50,HY LINE BROWN TIR,GUAPI,CAUCA,$9.100.000,NaN,Mediana
1,2-jun-23,2022 2023,4,JOJOA BARRIOS IVAN DARIO,12.0,3.50,HY LINE BROWN,LA UNION,NARIÑO,$42.000.000,NaN,Pequeña
2,2-jun-23,2022 2023,4,ARBOLEDA SANCHEZ SANDRA ISABEL,10.0,3.50,HY LINE BROWN,TULUA,VALLE DEL CAUCA,$35.000.000,NaN,Mediana
3,2-jun-23,2022 2023,4,GRANJA AVICOLA BUENA VIDA SAS,6.0,3.50,HY LINE BROWN TIR,PASTO,NARIÑO,$21.000.000,NaN,Grande
4,2-jun-23,2022 2023,4,ERAZO CIFUENTES CARLOS JAVIER,4.2,3.50,HY LINE BROWN,EL TAMBO,CAUCA,$14.700.000,NaN,Pequeña
...,...,...,...,...,...,...,...,...,...,...,...,...
2433,1-ene-00,2000,4,MIGUEL MARTIN Y CIA S EN C.S,6.0,1.70,HY LINE BROWN,CALI,VALLE DEL CAUCA,$10.200.000,NaN,Mediana
2434,1-ene-00,2000,4,AGUILERA JARAMILLO HERNEY,15.5,1.75,HY LINE BROWN,TULUA,VALLE DEL CAUCA,$27.125.000,NaN,Pequeña
2435,1-ene-00,2000,4,"AGROINDUSTRIA SAN JOSE S.A. ""AGRINSA""",26.3,1.70,HY LINE W-36,MANIZALEZ,CALDAS,$44.710.000,NaN,Grande
2436,1-ene-00,2000,4,CASTAÑO GIRALDO HERMAN,9.3,1.75,HY LINE W-36,ARMENIA,QUINDIO,$16.275.000,NaN,Pequeña
2437,1-ene-00,2000,4,ANAYA PALACIO GLORIA AMPARO,9.3,1.78,HY LINE W-36,ARMENIA,QUINDIO,$16.554.000,NaN,Mediana

In [12]:
# Defino una función que generará valores aleatorios para la columna 'contacto'. 
def generar_texto_aleatorio():
    textos_aleatorios = ['Correo', 'Telefono']
    return random.choice(textos_aleatorios)

In [14]:
df

,FECHA,AÑO FISCAL,ZONA,CLIENTE,UNIDADES,PRECIO DE VENTA,LINEA,CIUDAD,DEPARTAMENTO,TOTAL AÑO (2000-2023),Unnamed: 10,TAMAÑO EMPRESA
0,2-jun-23,2022 2023,4,AGRODESARROLLO AMBIENTAL DEL PACIFICO SAS,2.6,3.50,HY LINE BROWN TIR,GUAPI,CAUCA,$9.100.000,NaN,Mediana
1,2-jun-23,2022 2023,4,JOJOA BARRIOS IVAN DARIO,12.0,3.50,HY LINE BROWN,LA UNION,NARIÑO,$42.000.000,NaN,Pequeña
2,2-jun-23,2022 2023,4,ARBOLEDA SANCHEZ SANDRA ISABEL,10.0,3.50,HY LINE BROWN,TULUA,VALLE DEL CAUCA,$35.000.000,NaN,Mediana
3,2-jun-23,2022 2023,4,GRANJA AVICOLA BUENA VIDA SAS,6.0,3.50,HY LINE BROWN TIR,PASTO,NARIÑO,$21.000.000,NaN,Grande
4,2-jun-23,2022 2023,4,ERAZO CIFUENTES CARLOS JAVIER,4.2,3.50,HY LINE BROWN,EL TAMBO,CAUCA,$14.700.000,NaN,Pequeña
...,...,...,...,...,...,...,...,...,...,...,...,...
2433,1-ene-00,2000,4,MIGUEL MARTIN Y CIA S EN C.S,6.0,1.70,HY LINE BROWN,CALI,VALLE DEL CAUCA,$10.200.000,NaN,Mediana
2434,1-ene-00,2000,4,AGUILERA JARAMILLO HERNEY,15.5,1.75,HY LINE BROWN,TULUA,VALLE DEL CAUCA,$27.125.000,NaN,Pequeña
2435,1-ene-00,2000,4,"AGROINDUSTRIA SAN JOSE S.A. ""AGRINSA""",26.3,1.70,HY LINE W-36,MANIZALEZ,CALDAS,$44.710.000,NaN,Grande
2436,1-ene-00,2000,4,CASTAÑO GIRALDO HERMAN,9.3,1.75,HY LINE W-36,ARMENIA,QUINDIO,$16.275.000,NaN,Pequeña
2437,1-ene-00,2000,4,ANAYA PALACIO GLORIA AMPARO,9.3,1.78,HY LINE W-36,ARMENIA,QUINDIO,$16.554.000,NaN,Mediana

In [16]:
#aplico la función a cada fila de la columna deseada, con el método apply.Y asi generar los valores aleatorios
df['CONTACTO'] = df['Unnamed: 10'].apply(lambda x: generar_texto_aleatorio())

In [17]:
#redefino la variable nuevamente.
def generar_texto_aleatorio():
    textos_aleatorios = ['Correo', 'Telefono']
    return random.choice(textos_aleatorios)

In [18]:
#visualizo la variable.
df

,FECHA,AÑO FISCAL,ZONA,CLIENTE,UNIDADES,PRECIO DE VENTA,LINEA,CIUDAD,DEPARTAMENTO,TOTAL AÑO (2000-2023),Unnamed: 10,TAMAÑO EMPRESA,CONTACTO
0,2-jun-23,2022 2023,4,AGRODESARROLLO AMBIENTAL DEL PACIFICO SAS,2.6,3.50,HY LINE BROWN TIR,GUAPI,CAUCA,$9.100.000,NaN,Mediana,Telefono
1,2-jun-23,2022 2023,4,JOJOA BARRIOS IVAN DARIO,12.0,3.50,HY LINE BROWN,LA UNION,NARIÑO,$42.000.000,NaN,Pequeña,Correo
2,2-jun-23,2022 2023,4,ARBOLEDA SANCHEZ SANDRA ISABEL,10.0,3.50,HY LINE BROWN,TULUA,VALLE DEL CAUCA,$35.000.000,NaN,Mediana,Telefono
3,2-jun-23,2022 2023,4,GRANJA AVICOLA BUENA VIDA SAS,6.0,3.50,HY LINE BROWN TIR,PASTO,NARIÑO,$21.000.000,NaN,Grande,Telefono
4,2-jun-23,2022 2023,4,ERAZO CIFUENTES CARLOS JAVIER,4.2,3.50,HY LINE BROWN,EL TAMBO,CAUCA,$14.700.000,NaN,Pequeña,Telefono
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2433,1-ene-00,2000,4,MIGUEL MARTIN Y CIA S EN C.S,6.0,1.70,HY LINE BROWN,CALI,VALLE DEL CAUCA,$10.200.000,NaN,Mediana,Telefono
2434,1-ene-00,2000,4,AGUILERA JARAMILLO HERNEY,15.5,1.75,HY LINE BROWN,TULUA,VALLE DEL CAUCA,$27.125.000,NaN,Pequeña,Correo
2435,1-ene-00,2000,4,"AGROINDUSTRIA SAN JOSE S.A. ""AGRINSA""",26.3,1.70,HY LINE W-36,MANIZALEZ,CALDAS,$44.710.000,NaN,Grande,Correo
2436,1-ene-00,2000,4,CASTAÑO GIRALDO HERMAN,9.3,1.75,HY LINE W-36,ARMENIA,QUINDIO,$16.275.000,NaN,Pequeña,Telefono
2437,1-ene-00,2000,4,ANAYA PALACIO GLORIA AMPARO,9.3,1.78,HY LINE W-36,ARMENIA,QUINDIO,$16.554.000,NaN,Mediana,Telefono

In [19]:
#Agrego columna con valores constantes.
df['PÁGINA WEB']=70

In [20]:
#Defino una función que generará valores aleatorios para la columna 'PÁGINA WEB'. 
def generar_texto_aleatorio():
    textos_aleatorios = ['Si', 'NO']
    return random.choice(textos_aleatorios)

In [21]:
#aplico la función a cada fila de la columna deseada, con el método apply. Y asi generar los valores aleatorios
df['PÁGINA WEB'] = df['Unnamed: 10'].apply(lambda x: generar_texto_aleatorio())

In [22]:
#visualizo y renombro el dataframe.
df

,FECHA,AÑO FISCAL,ZONA,CLIENTE,UNIDADES,PRECIO DE VENTA,LINEA,CIUDAD,DEPARTAMENTO,TOTAL AÑO (2000-2023),Unnamed: 10,TAMAÑO EMPRESA,CONTACTO,PÁGINA WEB
0,2-jun-23,2022 2023,4,AGRODESARROLLO AMBIENTAL DEL PACIFICO SAS,2.6,3.50,HY LINE BROWN TIR,GUAPI,CAUCA,$9.100.000,NaN,Mediana,Telefono,NO
1,2-jun-23,2022 2023,4,JOJOA BARRIOS IVAN DARIO,12.0,3.50,HY LINE BROWN,LA UNION,NARIÑO,$42.000.000,NaN,Pequeña,Correo,NO
2,2-jun-23,2022 2023,4,ARBOLEDA SANCHEZ SANDRA ISABEL,10.0,3.50,HY LINE BROWN,TULUA,VALLE DEL CAUCA,$35.000.000,NaN,Mediana,Telefono,Si
3,2-jun-23,2022 2023,4,GRANJA AVICOLA BUENA VIDA SAS,6.0,3.50,HY LINE BROWN TIR,PASTO,NARIÑO,$21.000.000,NaN,Grande,Telefono,Si
4,2-jun-23,2022 2023,4,ERAZO CIFUENTES CARLOS JAVIER,4.2,3.50,HY LINE BROWN,EL TAMBO,CAUCA,$14.700.000,NaN,Pequeña,Telefono,Si
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2433,1-ene-00,2000,4,MIGUEL MARTIN Y CIA S EN C.S,6.0,1.70,HY LINE BROWN,CALI,VALLE DEL CAUCA,$10.200.000,NaN,Mediana,Telefono,Si
2434,1-ene-00,2000,4,AGUILERA JARAMILLO HERNEY,15.5,1.75,HY LINE BROWN,TULUA,VALLE DEL CAUCA,$27.125.000,NaN,Pequeña,Correo,Si
2435,1-ene-00,2000,4,"AGROINDUSTRIA SAN JOSE S.A. ""AGRINSA""",26.3,1.70,HY LINE W-36,MANIZALEZ,CALDAS,$44.710.000,NaN,Grande,Correo,NO
2436,1-ene-00,2000,4,CASTAÑO GIRALDO HERMAN,9.3,1.75,HY LINE W-36,ARMENIA,QUINDIO,$16.275.000,NaN,Pequeña,Telefono,Si
2437,1-ene-00,2000,4,ANAYA PALACIO GLORIA AMPARO,9.3,1.78,HY LINE W-36,ARMENIA,QUINDIO,$16.554.000,NaN,Mediana,Telefono,NO

In [25]:
df

,FECHA,AÑO FISCAL,ZONA,CLIENTE,UNIDADES,PRECIO DE VENTA,LINEA,CIUDAD,DEPARTAMENTO,TOTAL AÑO (2000-2023),Unnamed: 10,TAMAÑO EMPRESA,CONTACTO,PÁGINA WEB
0,2-jun-23,2022 2023,4,AGRODESARROLLO AMBIENTAL DEL PACIFICO SAS,2.6,3.50,HY LINE BROWN TIR,GUAPI,CAUCA,$9.100.000,NaN,Mediana,Telefono,NO
1,2-jun-23,2022 2023,4,JOJOA BARRIOS IVAN DARIO,12.0,3.50,HY LINE BROWN,LA UNION,NARIÑO,$42.000.000,NaN,Pequeña,Correo,NO
2,2-jun-23,2022 2023,4,ARBOLEDA SANCHEZ SANDRA ISABEL,10.0,3.50,HY LINE BROWN,TULUA,VALLE DEL CAUCA,$35.000.000,NaN,Mediana,Telefono,Si
3,2-jun-23,2022 2023,4,GRANJA AVICOLA BUENA VIDA SAS,6.0,3.50,HY LINE BROWN TIR,PASTO,NARIÑO,$21.000.000,NaN,Grande,Telefono,Si
4,2-jun-23,2022 2023,4,ERAZO CIFUENTES CARLOS JAVIER,4.2,3.50,HY LINE BROWN,EL TAMBO,CAUCA,$14.700.000,NaN,Pequeña,Telefono,Si
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2433,1-ene-00,2000,4,MIGUEL MARTIN Y CIA S EN C.S,6.0,1.70,HY LINE BROWN,CALI,VALLE DEL CAUCA,$10.200.000,NaN,Mediana,Telefono,Si
2434,1-ene-00,2000,4,AGUILERA JARAMILLO HERNEY,15.5,1.75,HY LINE BROWN,TULUA,VALLE DEL CAUCA,$27.125.000,NaN,Pequeña,Correo,Si
2435,1-ene-00,2000,4,"AGROINDUSTRIA SAN JOSE S.A. ""AGRINSA""",26.3,1.70,HY LINE W-36,MANIZALEZ,CALDAS,$44.710.000,NaN,Grande,Correo,NO
2436,1-ene-00,2000,4,CASTAÑO GIRALDO HERMAN,9.3,1.75,HY LINE W-36,ARMENIA,QUINDIO,$16.275.000,NaN,Pequeña,Telefono,Si
2437,1-ene-00,2000,4,ANAYA PALACIO GLORIA AMPARO,9.3,1.78,HY LINE W-36,ARMENIA,QUINDIO,$16.554.000,NaN,Mediana,Telefono,NO

In [26]:
df_final = df.drop('Unnamed: 10', axis=1)

In [27]:
df_final

,FECHA,AÑO FISCAL,ZONA,CLIENTE,UNIDADES,PRECIO DE VENTA,LINEA,CIUDAD,DEPARTAMENTO,TOTAL AÑO (2000-2023),TAMAÑO EMPRESA,CONTACTO,PÁGINA WEB
0,2-jun-23,2022 2023,4,AGRODESARROLLO AMBIENTAL DEL PACIFICO SAS,2.6,3.50,HY LINE BROWN TIR,GUAPI,CAUCA,$9.100.000,Mediana,Telefono,NO
1,2-jun-23,2022 2023,4,JOJOA BARRIOS IVAN DARIO,12.0,3.50,HY LINE BROWN,LA UNION,NARIÑO,$42.000.000,Pequeña,Correo,NO
2,2-jun-23,2022 2023,4,ARBOLEDA SANCHEZ SANDRA ISABEL,10.0,3.50,HY LINE BROWN,TULUA,VALLE DEL CAUCA,$35.000.000,Mediana,Telefono,Si
3,2-jun-23,2022 2023,4,GRANJA AVICOLA BUENA VIDA SAS,6.0,3.50,HY LINE BROWN TIR,PASTO,NARIÑO,$21.000.000,Grande,Telefono,Si
4,2-jun-23,2022 2023,4,ERAZO CIFUENTES CARLOS JAVIER,4.2,3.50,HY LINE BROWN,EL TAMBO,CAUCA,$14.700.000,Pequeña,Telefono,Si
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2433,1-ene-00,2000,4,MIGUEL MARTIN Y CIA S EN C.S,6.0,1.70,HY LINE BROWN,CALI,VALLE DEL CAUCA,$10.200.000,Mediana,Telefono,Si
2434,1-ene-00,2000,4,AGUILERA JARAMILLO HERNEY,15.5,1.75,HY LINE BROWN,TULUA,VALLE DEL CAUCA,$27.125.000,Pequeña,Correo,Si
2435,1-ene-00,2000,4,"AGROINDUSTRIA SAN JOSE S.A. ""AGRINSA""",26.3,1.70,HY LINE W-36,MANIZALEZ,CALDAS,$44.710.000,Grande,Correo,NO
2436,1-ene-00,2000,4,CASTAÑO GIRALDO HERMAN,9.3,1.75,HY LINE W-36,ARMENIA,QUINDIO,$16.275.000,Pequeña,Telefono,Si
2437,1-ene-00,2000,4,ANAYA PALACIO GLORIA AMPARO,9.3,1.78,HY LINE W-36,ARMENIA,QUINDIO,$16.554.000,Mediana,Telefono,NO

In [28]:
df.to_csv('TABLA CLIENTES 1.csv', index=False)